**Exercise:**

1. Load the data from the *garden_data.csv* file into a Pandas DataFrame.
2. Explore the data by displaying the first few rows, checking the data types of each column and the number of rows.
3. Remove any rows with outliers in the "Temperature" column. You can consider values below 0째C and above 40째C as outliers. Check the number of rows again.
4. Calculate the total rainfall for the month and the average daily temperature.
5. Create a line plot using Matplotlib to visualize the daily temperature trends over the month. Save the plot.
6. Create a bar chart to show the total rainfall for each day.
7. Print the date when Alice's tallest flower reached 74 cm.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# Step 1: Load the data from the CSV file into a Pandas DataFrame
data = pd.read_csv("garden_data.csv")

In [ ]:
# Step 2: Explore the data
print("First few rows of the DataFrame:")
print(data.head())
print("\nData types of each column:")
print(data.dtypes)

In [ ]:
len(data)

In [ ]:
# Step 3: Remove rows with temperature outliers
data = data[(data["Temperature (C)"] >= 0) & (data["Temperature (C)"] <= 40)]

In [ ]:
len(data)

In [ ]:
# Step 4: Calculate total rainfall and average daily temperature
total_rainfall = data["Rainfall (mm)"].sum()
average_temperature = data["Temperature (C)"].mean()
print("\nTotal Rainfall for the month:", total_rainfall, "mm")
print("Average Daily Temperature:", round(average_temperature,1), "째C")

In [ ]:
# Step 5: Create a line plot for daily temperature trends
plt.figure(figsize=(10, 5))
plt.plot(data["Date"], data["Temperature (C)"], marker='o', linestyle='-',color='mediumvioletred')
plt.title("Daily Temperature Trends",size=16)
plt.xlabel("Date",size=14)
plt.ylabel("Temperature (째C)",size=14)
plt.xticks(rotation=45)
plt.grid(True)
plt.show()

In [ ]:
# Step 6: Create a bar chart for total daily rainfall
plt.figure(figsize=(10, 5))
plt.bar(data["Date"], data["Rainfall (mm)"],color='mediumvioletred')
plt.title("Total Daily Rainfall")
plt.xlabel("Date")
plt.ylabel("Rainfall (mm)")
plt.xticks(rotation=45)
plt.grid(axis="y")
plt.show()

In [ ]:
# Step 7: Print the date when Alice's tallest flower reached 74 cm.

desired_height = 74
filtered_data = data[data["Tallest Flower Height (cm)"] >= desired_height]

if not filtered_data.empty:
    # Get the date when the tallest flower reached 74 cm
    date_reached_74cm = filtered_data.iloc[0]["Date"]
    print(f"The tallest flower reached 74 cm on {date_reached_74cm}.")
else:
    print("The tallest flower did not reach 74 cm during the recorded period.")

*`.iloc[0]` is used to retrieve the first row of the `filtered_data` DataFrame.*